<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Info</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Portfolio</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style-main.css">
            <link rel="stylesheet" type="text/css" href="/css/util.css">
      <link rel="stylesheet" type="text/css" href="/css/main.css">
        <style>
            .marquee {
             width: 100vw;
             margin: 0 auto;
             padding:1% 0;
             overflow: hidden;
             white-space: nowrap;
             box-sizing: border-box;
             background:#cf455c;
         }
         
         .marquee:hover {
             animation-play-state: paused
         }
         .text-size{
          font-size:1.3rem;
          color:white;
          display:inline-block;
          margin-right:5%;
         }
         .marquee a:hover{
          text-decoration:none;
          color:inherit;
         }
            @media (max-width:768px)
            {
              .tmenu1{
                width:20vw;
              }
            }
            .add-more{
          float:right;
          text-align:center;
          cursor:pointer;
          outline:none;
          position:relative;
          top:-35px;
          margin-left:2%;
          font-weight:bolder;
        }
        .send-style,.send-style-mid{
          background:#cf455c;
          color:white;
        }
        .send-style-mid{
          margin:0 auto;
          display:flex;
          justify-content:center;
        }
        .send-style:hover,.send-style-mid:hover{
          color:white;
        }
        .btn-center{
          display:flex;
          justify-content:center;
        }
        .form-control{
          border:0;
          border-bottom:1px;
          outline:none;
        }
        .form-control:focus{
          outline:none;
          border:none;
          box-shadow:none;
        }
        .border-class{
          border:2px solid #d9d9d9;
        }
         .text-class{
          border:2px solid #d9d9d9;
        }
        .text-class:focus{
          border:2px solid #d9d9d9;
        }
          .left-address ul li:last-child{
          pointer-events:all;
        }
      .logout-icon{
        height: 60px;
        width: 60px;
        position: absolute;
        left: 70vw;
        top: -23vh;
        font-size:1.7rem;
        background: #cf455c;
        color: #fff;
        border: 2px solid #fff;
        }
           
            </style>
    </head>
    <body>

        <section id="container" class="col-lg-8 col-md-10 col-sm-12" style="margin-top:8%;">
         <!--    <header>
    
                <div id="logo">
                    <h2>TIM WiLSON</h2>
                    <h4>GRAPHIC & WEB DESIGNER</h4>
                </div>
    
                <div class="social-icons-container">
                </div>
            </header> -->

    
                <section id="resume">
                    <div class="timeline-section">
                          <div class="main-wrapper-resume">
             <!-- carttitle-wrapper start -->
             
             <div class="carttitle-wrapper">
                <div class="container no-padding">
                   <div class="row no-margin">
                      <div class="col-md-12 no-padding bg-color-left">
                         <div class="left-address">
                            <ul>
                                <li><span class="text-color">Name Of The Patient</span><%=name%></li>
                               <li><span class="text-color">Phone</span><%=phone%></li>
                               <li><span class="text-color">ID</span><%= id%></li>
                               <li><span class="text-color">Gender </span><%=gender%></li>
                               <li><span class="text-color">Address</span>
                               <%=address%>
                               </li>
                               <li><span class="text-color">State</span>
                               <%=state%>
                               </li>
                               <li><span class="text-color">Medical Details</span>
                                </li>
                            </ul>
                         </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             </div>
               </section>  
        </section>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="/js/portfolio.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.easytabs/3.2.0/jquery.easytabs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.caroufredsel/6.2.1/jquery.carouFredSel.packed.js"></script>
    </body>
    </html>